In [2]:
import pandas as pd

df_matches = pd.read_csv('Africa Cup of Nations Matches.csv')
df_players = pd.read_csv('Africa Cup of Nations Players.csv')
df_teams_statistics = pd.read_csv('Participated Teams General Statistics.csv')
df_generals_statistics = pd.read_csv('Tournaments General Statistics.csv')

In [2]:
# display(df_matches.head(3))
display(df_players.head(3))
# display(df_teams_statistics.head(3))
# display(df_generals_statistics.head(3))

,Year,ShirtNumber,PlayerPosition,PlayerName,DateofBirth(age),Caps,Goals,Club,Country
0,1957,NaN,GK,Ali Bakr,NaN,NaN,NaN,Zamalek,Egypt
1,1957,NaN,GK,"Paraskos ""Brascos"" Trimeritis",NaN,NaN,NaN,El-Qanah,Egypt
2,1957,NaN,GK,Abdel-Galil Hameida,NaN,NaN,NaN,Al-Ahly,Egypt

# DataFrame.duplicated()

In [28]:

# df_players[df_players.duplicated(keep='first')].count()
df_players.duplicated()[712:721]

712    False
713    False
714     True
715    False
716    False
717    False
718     True
719    False
720    False
dtype: bool

In [34]:
result = df_players.duplicated(subset=['Year','PlayerName'])
df_players[result].head()

,Year,ShirtNumber,PlayerPosition,PlayerName,DateofBirth(age),Caps,Goals,Club,Country
160,1962,NaN,NaN,Francis Atema,NaN,NaN,NaN,NaN,Uganda
676,1972,NaN,NaN,NaN,(1954-01-30)30 January 1954 (aged 18),NaN,NaN,NaN,Cameroon
682,1972,NaN,NaN,NaN,(1946-06-12)12 June 1946 (aged 25),NaN,NaN,NaN,Cameroon
706,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mali
714,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mali

In [39]:
result = df_players.duplicated(subset=['Year','PlayerName'])
df_players[~result].head()

,Year,ShirtNumber,PlayerPosition,PlayerName,DateofBirth(age),Caps,Goals,Club,Country
0,1957,NaN,GK,Ali Bakr,NaN,NaN,NaN,Zamalek,Egypt
1,1957,NaN,GK,"Paraskos ""Brascos"" Trimeritis",NaN,NaN,NaN,El-Qanah,Egypt
2,1957,NaN,GK,Abdel-Galil Hameida,NaN,NaN,NaN,Al-Ahly,Egypt
3,1957,NaN,DF,Mosaad Daoud,NaN,NaN,NaN,El-Olympi,Egypt
4,1957,NaN,DF,El-Sayed El-Arabi,NaN,NaN,NaN,Teram,Egypt

In [41]:
df_players[df_players.duplicated(keep=False)].head()

,Year,ShirtNumber,PlayerPosition,PlayerName,DateofBirth(age),Caps,Goals,Club,Country
706,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mali
714,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mali
718,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mali
729,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Togo
734,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Togo

# DataFrame.drop_duplicated()

In [4]:
display('Before drop duplicates===>',df_players.shape)
display('After drop duplicates===>',df_players.drop_duplicates().shape)

'Before drop duplicates===>'

(7534, 9)

'After drop duplicates===>'

(7514, 9)

In [9]:
df_players.drop_duplicates(subset=['Year','PlayerName']).shape

(7489, 9)

In [13]:
display(type(df_players.drop_duplicates(subset=['Year','PlayerName'])))
display(type(df_players.drop_duplicates(subset=['Year','PlayerName'], inplace=True)))

pandas.core.frame.DataFrame

NoneType